.Title {
  display: flex;
  height: 4rem;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.Title .logo {
  margin-right: 0.3rem;
}

.Title .heading {
  color: #5aa2ea;
  font-size: 1.9rem;
  user-select: none;
}

.Title img {
  height: 50px;
  width: 55px;
}
